#braillegenerator pre, #braillegenerator code, #braillegenerator textarea {
    font: 12px/20px Monaco, monospace;
    border: 1px solid #CCC;
    border-radius: 3px;
    background: #F9F9F9;
    padding: 0 3px;
    color: #555;
}

#braillegenerator pre, #braillegenerator textarea {
    padding: 10px;
    width: 100%;
}

#braillegenerator textarea {
    height: 200px;
}

#braillegenerator textarea:focus {
    outline: none;
}

#braillegenerator canvas {
    cursor: move;
    width: 100% !important;
    margin: 0.5em 0 !important;
}

#braillegenerator #filedropzone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  color: black;
}

#braillegenerator #filedropzone_empty {
  text-align: center;
  color: #bbb;
}

#braillegenerator #filedropzone_filled {
  color: black;
  display: none;
}

#braillegenerator #filebuttons {
  float: right;
}

#braillegenerator canvas { cursor: move; }

#braillegenerator .parameterslist {
    list-style-type: none;
    padding-left: 0;
}

#braillegenerator input[type="checkbox"] {
    margin-right: 0.5em;
}

#braillegenerator button {
    margin-right: 0.5em;
}

#braillegenerator button:disabled {
    margin-right: 0.5em;
    color: gray;
    cursor: unset;
}

#braillegenerator .statusdiv {
  width: 800px;
  margin-bottom: 10px;
}